<section>
    <div class="content">
        <div class="links">
            <ul>
                <li><a routerLink="/addComp" routerLinkActive="active">Add new campaign</a></li>
                <li><a routerLink="/compaigns"routerLinkActive="active">Campaigns</a></li>
                <li><a routerLink="/reqInst"routerLinkActive="active">Requests</a></li>

            </ul>
        </div>
        <div class="info">
            <div class="info">

                <h2>New Campaign</h2>
                <form [formGroup]="campaigns">
                    <div class="forms">
                    <div class="item1">
                    <input formControlName="name" placeholder="Campaign Name" type="text">
                    <div *ngIf="campaigns.controls['name'].errors&&campaigns.controls['name'].touched " class="error">
                        <p *ngIf="campaigns.controls['name'].errors['minlength']">*Name you must contain min length 3</p>
                        <p *ngIf="campaigns.controls['name'].errors['maxlength']">*Name you must contain min length 30</p>
                        <p *ngIf="campaigns.controls['name'].errors['required']">* Name is required</p>
                      </div>
                    </div>
                    <div class="item1">
                    <input formControlName="address" placeholder="location" type="text">
                    <div *ngIf="campaigns.controls['address'].errors&&campaigns.controls['address'].touched " class="error">
                        <p *ngIf="campaigns.controls['address'].errors['required']"> <span>*</span> Address is not valid </p>
                        <p *ngIf="campaigns.controls['address'].errors['minlength']"> <span>*</span> Address you must contain min length 3 </p>
                        <p *ngIf="campaigns.controls['address'].errors['maxlength']"> <span>*</span> Address you must contain max length 40 </p>
                      </div>
                    </div>
                    <div class="item1 date">
                    <!-- <input  placeholder="Date of Start " type="time"> -->
                    <!-- <label for="datetime">Select Date and Time:</label> -->
                     <input formControlName="date" type="datetime-local" id="datetime" name="datetime">
                    <p class="line">Date of Start</p>
                    <div *ngIf="campaigns.controls['date'].errors&&campaigns.controls['date'].touched " class="error d-block">
                        <p *ngIf="campaigns.controls['date'].errors['required']"> <span>*</span> Date is required </p>
                        
                      </div>
                    </div>
                
                    <h4>{{error}}</h4>
                    <button *ngIf="!updateStatus"(click)="submitDonation(campaigns)" [disabled]="campaigns.invalid " >Add</button>
                    <button *ngIf="updateStatus" (click)="updateReqForm(campaigns)" [disabled]="campaigns.invalid " >update</button>                    </div>
                </form>
            </div>
            <h2 class="mt-5">New Campaign</h2>
            <div *ngFor="let req of reqests" class="item">
                <h4>{{req.name}}</h4>
                <h6> <span class="me-3 text-info">Date :</span>      <span class="ms-3 ">{{req.date}}</span>  </h6>
                <h6> <span class="me-3 text-info">Address :</span>      <span class="ms-3 ">{{req.address}}</span>  </h6>
                <i (click)="deleteCompagin(req.id)" class="fa-solid fa-trash" style="color: #f1041b;"></i>

                <button (click)="update(req.id)">edit</button>
            </div>
           
          <img src="../../assets/Blood donation.svg" alt="">
        </div>
        
    </div>
    
</section>