<section>
    <div class="content">
        <div class="links">
            <ul>
                <li><a routerLink="/addComp" routerLinkActive="active">Add new campaign</a></li>
                <li><a routerLink="/compaigns"routerLinkActive="active">Campaigns</a></li>
                <li><a routerLink="/reqInst"routerLinkActive="active">Requests</a></li>

            </ul>
        </div>
        <div class="info">
            <div class="info">

                <h2>New Campaign</h2>
                <form [formGroup]="campaigns">
                    <div class="forms">
                    <div class="item1">
                    <input formControlName="name" placeholder="Campaign Name" type="text">
                    <div *ngIf="campaigns.controls['name'].errors&&campaigns.controls['name'].touched " class="error">
                        <p *ngIf="campaigns.controls['name'].errors['minlength']">*Name you must contain min length 3</p>
                        <p *ngIf="campaigns.controls['name'].errors['maxlength']">*Name you must contain min length 30</p>
                        <p *ngIf="campaigns.controls['name'].errors['required']">* Name is required</p>
                      </div>
                    </div>
                    <div class="item1">
                    <input formControlName="address" placeholder="location" type="text">
                    <div *ngIf="campaigns.controls['address'].errors&&campaigns.controls['address'].touched " class="error">
                        <p *ngIf="campaigns.controls['address'].errors['required']"> <span>*</span> Address is not valid </p>
                        <p *ngIf="campaigns.controls['address'].errors['minlength']"> <span>*</span> Address you must contain min length 3 </p>
                        <p *ngIf="campaigns.controls['address'].errors['maxlength']"> <span>*</span> Address you must contain max length 40 </p>
                      </div>
                    </div>
                    <div class="item1 date">
                    <input formControlName="date" placeholder="Date of Start " type="time">
                    <p>Date of Start</p>
                    <div *ngIf="campaigns.controls['date'].errors&&campaigns.controls['date'].touched " class="error">
                        <p *ngIf="campaigns.controls['date'].errors['required']"> <span>*</span> Address is required </p>
                        
                      </div>
                    </div>
                
                    <h4>{{error}}</h4>
                    <button *ngIf="!updateStatus"(click)="submitDonation(campaigns)" [disabled]="campaigns.invalid " >Add</button>
                    <button *ngIf="updateStatus" (click)="updateReqForm(campaigns)" [disabled]="campaigns.invalid " >update</button>                    </div>
                </form>
            </div>
            <h2 class="mt-5">New Campaign</h2>
            <div class="item">
                <h4>Save a life</h4>
                <h6> <span class="me-3">08/08/2023</span>      <span class="ms-3">08:00 AM</span>  </h6>
                <p>Lorem ipsum dolor sit amet, consectetueradipiscing elit. Aenean
                    commodo ligula eget dolor. Aenean massa. Cum sociis natoque
                    penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                    Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
                </p>
                <button>edit</button>
            </div>
           
          <img src="../../assets/Blood donation.svg" alt="">
        </div>
        
    </div>
    
</section>