<section>
    <div class="content">
        <div class="links">
            <ul>
                <li><a routerLink="/addComp" routerLinkActive="active">Add new campaign</a></li>
                <li><a routerLink="/compaigns"routerLinkActive="active">Campaigns</a></li>
                <li><a routerLink="/reqInst"routerLinkActive="active">Requests</a></li>

            </ul>
        </div>
        <div class="info">

            <h2>New Campaign</h2>
            <div class="item">
                <h4>Save a life</h4>
                <h6> <span class="me-3">08/08/2023</span>      <span class="ms-3">08:00 AM</span>  </h6>
                <p>Lorem ipsum dolor sit amet, consectetueradipiscing elit. Aenean
                    commodo ligula eget dolor. Aenean massa. Cum sociis natoque
                    penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                    Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
                </p>
                <button>edit</button>
            </div>
           
          <img src="../../assets/Blood donation.svg" alt="">
        </div>
        
    </div>
    
</section>