<section>
    <img class="svg1" src="../../assets/background1.svg" alt="">
    <div class="contant">

        <div class="img">
            <img src="../../assets/World Blood Donor.png" class=""alt="">
        </div>
        <div class="singnAs">
            <div>
            <h2 class="h1">Login<br>As</h2>

            <div class="role">
                <a [routerLink]="['/loginAsUser','User']"><i class="fa-regular fa-user"></i></a>
                <a [routerLink]="['/loginAsInst','Inst']"><i class="fa-solid fa-hospital "></i></a>
            </div>
            
            </div>

        </div>
    </div>
</section>