<section class="">
    <img class="svg1" src="../../assets/background1.svg" alt="">
    <div class="singnUp">
        <h3>Login</h3>
        <form [formGroup]="LoginUserForm" (ngSubmit)="submitForm(LoginUserForm)">
          
          <div>
            <input formControlName="email" placeholder='Email'type="Email">
            <div  *ngIf="LoginUserForm.controls['email'].errors&&LoginUserForm.controls['email'].touched "class="emailvalidtion">
              <p><span>*</span> Email is not valid </p>
          </div>
          </div>


        
          <div>
            <input  formControlName="Password" placeholder='Password'type="Password">
            <div *ngIf="LoginUserForm.controls['Password'].errors&&LoginUserForm.controls['Password'].touched "class="error">
              <p *ngIf="LoginUserForm.controls['Password'].errors['required']"> <span>*</span> password is not valid </p>
              <p *ngIf="LoginUserForm.controls['Password'].errors['minlength']"><span>*</span> You must Write minumm 6 char  </p>
            </div>
          </div>
          
          <button [disabled]="LoginUserForm.invalid ">Sign Up</button>
        </form>
    </div>
    <div class="contant">

        <div class="img">
            <img src="../../assets/Blood donation Customizable Isometric Illustrations _ Amico Style 1.svg" class=""alt="">
        </div>
      
    </div>
</section>