<nav class="navbar navbar-expand-lg  fixed-top ">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <div class="d-flex">
            <img src="../../assets/logo1.svg" >
            <img src="../../assets/logo2.svg" >

        </div>
    </a>    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa-solid fa-bars list"></i>

    </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          
          <li class="nav-item">
            <a class="nav-link" routerLink="/addComp" routerLinkActive="active">Home</a>
          </li> 
          <li class="nav-item">
            <a class="nav-link"routerLink="/compaigns"routerLinkActive="active">Campaigns</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"routerLink="/reqInst"routerLinkActive="active">Requests</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/about" routerLinkActive="active">About</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link"  routerLink="/login" routerLinkActive="active">Login</a>
          </li>
          

         </ul>
       
      </div>
    </div>
  </nav>