<section>
    <div class="content">
        <div class="links">
            <ul>
                <li><a routerLink="/addComp" routerLinkActive="active">Add new campaign</a></li>
                <li><a routerLink="/compaigns"routerLinkActive="active">Campaigns</a></li>
                <li><a routerLink="/reqInst"routerLinkActive="active">Requests</a></li>

            </ul>
        </div>
        <div class="info">

            <h2>New Campaign</h2>
            <form  [formGroup]="EmergencyForm"  >
                <div class="forms">
               
                <div class="item">
                <input formControlName="blood_type" placeholder="blood Type" type="text">
                </div>
            
                <div class="item last">
                <textarea formControlName="content" placeholder="Content"cols="30" rows="10"></textarea>
                </div>
                <h4>{{error}}</h4>
                <button *ngIf="!updateStatus"(click)="submitDonation(EmergencyForm)"  >Add</button>
                <button *ngIf="updateStatus" (click)="updateReqForm(EmergencyForm)" [disabled]="EmergencyForm.invalid " >update</button>
                </div>
            </form>
          <img src="../../assets/blood.png" alt="">
        </div>
        
    </div>
    
</section>