<section>
    <div class="content">
        <div class="links">
           
        </div>
        <div class="info">

            <h2>Requests</h2>
            <div *ngFor="let req of reqests"  class="item">
                <h4>{{req.address}}</h4>
                <h6> <span class="me-3">{{req.created_at }}</span> </h6>
                <p>{{req.content}} </p>
                <button>Update</button>
                <div class="comp">
                    {{req.blood_type }}
                </div>
            </div>
            
          <img src="../../assets/blood2 1.png" alt="">
        </div>
        
    </div>
    
</section>