<section>
    <div class="content">
        <div class="links">
            <ul>
                <li><a routerLink="/addComp" routerLinkActive="active">Add new Emergency</a></li>
                <li><a routerLink="/compaigns"routerLinkActive="active">Campaigns</a></li>
                <li><a routerLink="/reqInst"routerLinkActive="active">Requests</a></li>

            </ul>
        </div>
        <div class="info">

            <div class="user">
                <h4 (click)="hospitalReq()" [ngClass]="{'activeReq':!user}">User Donation Reqests</h4>
                <h4 (click)="usersReq()"[ngClass]="{'activeReq':user}">Users Purchase Reqests</h4>

            </div>           
            <div *ngIf="!user">
                <div *ngFor="let req of reqests" class="item">
                <h4>{{req.user.name}}</h4>
                <h6> <span class="me-3 text-info">phone : </span>      <span class="ms-3">{{req.phone}}</span>  </h6>
                <h6> <span class="me-3 text-info">Email : </span>      <span class="ms-3">{{req.user.email}}</span>  </h6>
                <h6><span class="me-3 text-info">Address : </span>{{req.address}}
                </h6>
                <p> <span class="me-3 text-info">content  : </span>{{req.content}}
                </p>
                <!-- <button>Accept</button> -->
                <div class="comp">
                    {{req.blood_type}}
                </div>
            </div> 
            </div>
           
            <div *ngIf="user">
               <div *ngFor="let req of usersReqests"  class="item1">
                <h4>{{req.user.name}}</h4>
                <h4><span class="text-info">Address :</span>{{req.address}}</h4>
                <p class="ps-5"><span class="ps-2 text-info">Number Of Bag :</span>{{req.bag_num}}</p>
                <p class="ps-5"><span class="ps-2 text-info">Phone :</span>{{req.phone}}</p>
                <p class="ps-5"><span class="ps-2 text-info">content :</span>{{req.content}} </p>
                <div class="comp">
                    {{req.blood_type }}
                </div>
            </div> 
            </div>
            
          <img src="../../assets/blood2 1.png" alt="">
        </div>
        
    </div>
    
</section>