<section>
    <div class="content">
        <div class="links">
            <ul>
                <li><a routerLink="/addComp" routerLinkActive="active">Add new campaign</a></li>
                <li><a routerLink="/compaigns"routerLinkActive="active">Campaigns</a></li>
                <li><a routerLink="/reqInst"routerLinkActive="active">Requests</a></li>

            </ul>
        </div>
        <div class="info">

            <h2>Requests</h2>
            <div *ngFor="let req of reqests" class="item">
                <h4>{{req.user.name}}</h4>
                <h6> <span class="me-3 text-info">phone : </span>      <span class="ms-3">{{req.phone}}</span>  </h6>
                <h6> <span class="me-3 text-info">Email : </span>      <span class="ms-3">{{req.user.email}}</span>  </h6>
                <h6><span class="me-3 text-info">Address : </span>{{req.address}}
                </h6>
                <p> <span class="me-3 text-info">content  : </span>{{req.content}}
                </p>
                <!-- <button>Accept</button> -->
                <div class="comp">
                    {{req.blood_type}}
                </div>
            </div>
            
          <img src="../../assets/blood2 1.png" alt="">
        </div>
        
    </div>
    
</section>