<section class="">
    <img class="svg1" src="../../assets/background1.svg" alt="">
    <div class="singnUp">
        <h3>Sign Up</h3>
        <form [formGroup]="rigisterUserForm" (ngSubmit)="submitForm(rigisterUserForm)" >

          <div>
            <input formControlName="name" placeholder='Name'type="text">
            <div *ngIf="rigisterUserForm.controls['name'].errors&&rigisterUserForm.controls['name'].touched " class="error">
              <p *ngIf="rigisterUserForm.controls['name'].errors['minlength']">*Name you must contain min length 3</p>
              <p *ngIf="rigisterUserForm.controls['name'].errors['maxlength']">*Name you must contain min length 30</p>
              <p *ngIf="rigisterUserForm.controls['name'].errors['required']">* Name is required</p>
            </div>
          </div>

          <div>
            <input formControlName="blood_type" placeholder='Blood-type'type="text">
            <div *ngIf="rigisterUserForm.controls['blood_type'].errors&&rigisterUserForm.controls['blood_type'].touched " class="error">
                <p *ngIf="rigisterUserForm.controls['blood_type'].errors['required']">*blood_type is required</p>
                <p *ngIf="rigisterUserForm.controls['blood_type'].errors['minlength']">*blood_type you must contain min length 3</p>
                <p *ngIf="rigisterUserForm.controls['blood_type'].errors['maxlength']">*blood_type you must contain max length 10</p>
            </div>
          </div>

          <div>
            <input formControlName="email" placeholder='Email'type="Email">
            <div  *ngIf="rigisterUserForm.controls['email'].errors&&rigisterUserForm.controls['email'].touched "class="emailvalidtion">
              <p><span>*</span> Email is not valid </p>
          </div>
          </div>

          <div>
            <input formControlName="phone" placeholder='Phone'type="text">
            <div *ngIf="rigisterUserForm.controls['phone'].errors&&rigisterUserForm.controls['phone'].touched " class="error">
                <p *ngIf="rigisterUserForm.controls['phone'].errors['required']">* phone is required</p>
                <p *ngIf="rigisterUserForm.controls['phone'].errors['pattern']">* phone is not valid</p>
            </div>
          </div>

          <div>
            <input formControlName="address" placeholder='Address'type="text">
            <div *ngIf="rigisterUserForm.controls['address'].errors&&rigisterUserForm.controls['address'].touched " class="error">
              <p *ngIf="rigisterUserForm.controls['address'].errors['required']"> <span>*</span> Address is not valid </p>
              <p *ngIf="rigisterUserForm.controls['address'].errors['minlength']"> <span>*</span> Address you must contain min length 3 </p>
              <p *ngIf="rigisterUserForm.controls['address'].errors['maxlength']"> <span>*</span> Address you must contain max length 40 </p>
            </div>
          </div>

          <div>
            <input  formControlName="password" placeholder='Password'type="Password">
            <div *ngIf="rigisterUserForm.controls['password'].errors&&rigisterUserForm.controls['password'].touched "class="error">
              <p *ngIf="rigisterUserForm.controls['password'].errors['required']"> <span>*</span> password is not valid </p>
              <p *ngIf="rigisterUserForm.controls['password'].errors['minlength']"><span>*</span> You must Write minumm 6 char  </p>
            </div>
          </div>

          <div>
            <input formControlName="password_confirmation" placeholder='Confirm Password'type="Password">
            <div  *ngIf="rigisterUserForm.controls['password_confirmation'].errors&&rigisterUserForm.controls['password_confirmation'].touched "class="error">
                <p>*password_confirmation you is required</p>
            </div>
          </div>
           <h4 >{{error}}</h4>

          <button [disabled]="rigisterUserForm.invalid ">Sign Up</button>
        </form>
    </div>
    <div class="contant">

        <div class="img">
            <img src="../../assets/Download Blood Donation Awareness Concept Illustration for free 1.svg" class=""alt="">
        </div>
      
    </div>
</section>