<section class="">
    <img class="svg1" src="../../assets/background1.svg" alt="">
    <div class="singnUp">
        <h3>Sign Up</h3>
        <form >
          <div>
            <input placeholder='Name'type="text">
            <div class="error">
                <p>* you is requerd</p>
                <p>* you is requerd</p>
            </div>
          </div>
          <div>
            <input placeholder='Blood-type'type="text">
            <div class="error">
                <p>* you is requerd</p>
                <p>* you is requerd</p>
            </div>
          </div>
          <div>
            <input placeholder='Email'type="Email">
            <div class="error">
                <p>* you is requerd</p>
                <p>* you is requerd</p>
            </div>
          </div>
          <div>
            <input placeholder='Phone'type="text">
            <div class="error">
                <p>* you is requerd</p>
                <p>* you is requerd</p>
            </div>
          </div>
          <div>
            <input placeholder='Address'type="text">
            <div class="error">
                <p>* you is requerd</p>
                <p>* you is requerd</p>
            </div>
          </div>
          <div>
            <input placeholder='Password'type="Password">
            <div class="error">
                <p>* you is requerd</p>
                <p>* you is requerd</p>
            </div>
          </div>
          <div>
            <input placeholder='Confirm Password'type="Password">
            <div class="error">
                <p>* you is requerd</p>
                <p>* you is requerd</p>
            </div>
          </div>
          
          <button>Sign Up</button>
        </form>
    </div>
    <div class="contant">

        <div class="img">
            <img src="../../assets/Download Blood Donation Awareness Concept Illustration for free 1.svg" class=""alt="">
        </div>
      
    </div>
</section>