<section class="">
    <img class="svg1" src="../../assets/background1.svg" alt="">
    <div class="singnUp">
        <h3>Sign Up</h3>
       
        <form [formGroup]="rigisterInstitutionForm" (ngSubmit)="submitForm(rigisterInstitutionForm)" >

          <div>
            <input formControlName="name" placeholder='Name'type="text">
            <div *ngIf="rigisterInstitutionForm.controls['name'].errors&&rigisterInstitutionForm.controls['name'].touched " class="error">
              <p *ngIf="rigisterInstitutionForm.controls['name'].errors['minlength']">*Name you must contain min length 3</p>
              <p *ngIf="rigisterInstitutionForm.controls['name'].errors['maxlength']">*Name you must contain min length 30</p>
              <p *ngIf="rigisterInstitutionForm.controls['name'].errors['required']">*Name is required</p>
            </div>
          </div>

          <div>
            <input formControlName="Hospital-key" placeholder='Hospital-key'type="text">
            <div *ngIf="rigisterInstitutionForm.controls['Hospital-key'].errors&&rigisterInstitutionForm.controls['Hospital-key'].touched " class="error">
                <p *ngIf="rigisterInstitutionForm.controls['Hospital-key'].errors['required']">*Hospital-key is required</p>
                <p *ngIf="rigisterInstitutionForm.controls['Hospital-key'].errors['minlength']">*Hospital-key you must contain min length 3</p>
                <p *ngIf="rigisterInstitutionForm.controls['Hospital-key'].errors['maxlength']">*Hospital-key you must contain max length 10</p>
            </div>
          </div>

          <div>
            <input formControlName="email" placeholder='Email'type="Email">
            <div  *ngIf="rigisterInstitutionForm.controls['email'].errors&&rigisterInstitutionForm.controls['email'].touched "class="emailvalidtion">
              <p><span>*</span> Email is not valid </p>
          </div>
          </div>

          <div>
            <input formControlName="phone" placeholder='Phone'type="text">
            <div *ngIf="rigisterInstitutionForm.controls['phone'].errors&&rigisterInstitutionForm.controls['phone'].touched " class="error">
                <p *ngIf="rigisterInstitutionForm.controls['phone'].errors['required']">* phone is required</p>
            </div>
          </div>

          <div>
            <input formControlName="address" placeholder='Address'type="text">
            <div *ngIf="rigisterInstitutionForm.controls['address'].errors&&rigisterInstitutionForm.controls['address'].touched " class="error">
              <p *ngIf="rigisterInstitutionForm.controls['address'].errors['required']"> <span>*</span> Address is not valid </p>
              <p *ngIf="rigisterInstitutionForm.controls['address'].errors['minlength']"> <span>*</span> Address you must contain min length 3 </p>
              <p *ngIf="rigisterInstitutionForm.controls['address'].errors['maxlength']"> <span>*</span> Address you must contain max length 40 </p>
            </div>
          </div>

          <div>
            <input  formControlName="password" placeholder='Password'type="Password">
            <div *ngIf="rigisterInstitutionForm.controls['password'].errors&&rigisterInstitutionForm.controls['password'].touched "class="error">
              <p *ngIf="rigisterInstitutionForm.controls['password'].errors['required']"> <span>*</span> password is not valid </p>
              <p *ngIf="rigisterInstitutionForm.controls['password'].errors['minlength']"><span>*</span> You must Write minumm 6 char  </p>
            </div>
          </div>

          <div>
            <input formControlName="password_confirmation" placeholder='Confirm Password'type="Password">
            <div  *ngIf="rigisterInstitutionForm.controls['password_confirmation'].errors&&rigisterInstitutionForm.controls['password_confirmation'].touched "class="error">
                <p>* you is required</p>
               
              </div>
          </div>
          <h4 >{{error}}</h4>

          <button [disabled]="rigisterInstitutionForm.invalid ">Sign Up</button>
        </form>
    </div>
    <div class="contant">

        <div class="img">
            <img src="../../assets/Free Vector _ Doctors concept illustration.png" class=""alt="">
        </div>
      
    </div>
</section>