<section>
    <div class="content">
        <div class="links">
            <ul>
                <li><a routerLink="/homeuser" routerLinkActive="active">Home</a></li>
                <li><a routerLink="/DonatReq"routerLinkActive="active">Donation request</a></li>
                <li><a routerLink="/Purchreq"routerLinkActive="active">purchase request</a></li>

            </ul>
        </div>
        <div class="info">

            <h2>New Campaign</h2>
            <div *ngFor="let req of reqests" class="item">
                <h4>Save a life</h4>
                <h6>{{req.created_at}}</h6>
                <h6>{{req.phone}}</h6>
                <p>{{req.address}}</p>
                
            </div>
           
          <img src="../../assets/home.svg" alt="">
        </div>
        
    </div>
    
</section>